<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Kontak</h2>

      <a class="btn btn-primary mb-2" href="/contact/add" role="button"
        >Tambah Data Contact</a
      >

      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No HP</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0 ) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger" role="alert">
                Data contact kosong <br />
              </div>
            </td>
          </tr>

          <% } %> <% contacts.forEach((contact, i) => { i++%>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.nohp %></td>
            <td>
              <a
                href="/contact/<%= contact.nama %>"
                class="badge rounded-pill btn btn-success"
                ><i class="bi bi-info-circle"></i> Details</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
